body {
  margin: 0;
  font-family: 'Courier New', 'Roboto', 'Oxygen';
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
